*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
nav{
    flex-wrap: wrap;
    display: flex; /*جعل العناصر مع بعض  */ 
    justify-content: space-between;  
    align-items: center;
    height: 10vh; /* حجمه من الشاشه 10vh*/
    max-width: 1366px;
    margin:0 auto; /*جعلهم بسطر واحد العناصر */
    padding: 0 5rem;/* علئ كل الموقع*/
}
nav img{
    display: none;
}
nav.logo{
    
    display: flex;
    font-size: 2rem;/* عشان لو الخط بتلفون وكبر الصفحه يكون الخط طبيعي rem*/
    align-items: center;
}
nav.logo h4{
      flex-wrap: wrap;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav .navem{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
nav .navem .navli{
  padding: 0 1rem;
}
nav .nava{
    flex-wrap: wrap;
    text-decoration: none;
    color:rgb(94, 59, 94);
    font-size: 1.4rem;
}
nav .nava:hover{
    color: #e95fe2;
}
.hero{
    margin: 20px;
    
    background-color: #f8f7fc; 
}
.hersec{
    
    max-width: 1366px;/*ماتكون حجم الشاشه كامل الا اذا كانه صغير هاته*/
    height: 90vh; /*كون طوله 90 وليس 90 للهيرو و10 للنافل*/
    display: flex;
    justify-content: space-between;/* يوزع العناصر علئ حجم الflex*/
    align-items: center;
    margin: 0 auto;  /*عملنا كلاسات وflex عشان يكونوا كامل ع الخط*/
    padding: 0 5rem;
    flex-wrap: wrap;
    
}